h2{
		font-size:20px;
		color:#1f3d7a;
	}
body{
		background-color:#f1f1f1;
	}
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
      	margin-bottom: 0;
      	border-radius: 0;
    }
 /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px
    }
/* Set gray background color and 100% height */
sidenav {
      	padding-top: 20px;
      	background-color: #f1f1f1;
      	height: 100%;
    }
 /* On small screens, set height to 'auto' for sidenav and grid */
 @media screen and (max-width: 767px) {
      	.sidenav {
        	height: auto;
        	padding: 15px;
      	}
      	.row.content {height:auto;} 
    }
    
 /* Set text box height and width of search box */
 .topSearch{
    	width:90%;
    	height:40px;
    	margin-top:20px;
    }
/* Set black background color, margin and padding for Search Button */
.searchButton{
 		margin-top:20px;
 		height:40px;
 		width:90px;
    	float:right;
    	background-color:#1f3d7a;
    	color:#fff;
   }   
 /* Set height and background of main page   */
 #mainPage{
    	height:700px;
    	background-color:#fff;
  }
/* Set heght for the serach result  */
#result{
    	height:577px;
   		overflow: scroll;
   }
/* Set height for single user */
 .list-group-item {
		position: relative;
		display: block;
		padding: 10px 15px;
		margin-bottom: 45px;
		background-color: #fff;
		border: 1px solid #ddd;
		width:22%;
    	float:left;
    	margin-left:30px;
    }
    
 /* Set black background color, white text and some padding */
footer {
      	background-color: #555;
      	color: white;
      	padding: 15px;
    }
    
